openapi: "3.0.3"

info:
  title: Corncrake Submission API
  version: "1.0.0"
  description: |
    REST API for submitting EHECS (Earnings, Hours and Employment Costs Survey)
    returns to the Central Statistics Office, Ireland.

    Modelled on Revenue Ireland's PAYE Modernisation REST API architecture.
    Open source — MIT Licence.
    Repository: https://github.com/yourusername/corncrake

    ## Authentication
    All submission and lookup endpoints require a Bearer JWT in the
    `Authorization` header. Tokens are issued per registered software provider.

    ## Versioning
    All endpoints are versioned under `/corncrake/v1/`.

    ## Error format
    All errors return a consistent JSON body:
    ```json
    { "status": 400, "errors": [{ "code": "VALIDATION_ERROR", "field": "employees[0].ppsn", "message": "..." }] }
    ```

  contact:
    name: CSO EHECS Team
    email: ehecs@cso.ie
    url: https://www.cso.ie
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.cso.ie/ehecs/v1
    description: Production
  - url: https://api-pit.cso.ie/ehecs/v1
    description: Public Interface Testing (PIT) — for software developer validation
  - url: http://localhost:3000/ehecs/v1
    description: Local development

tags:
  - name: Submissions
    description: Create and query EHECS submissions
  - name: Lookups
    description: Reference data — occupation codes, periods, schema version
  - name: Health
    description: Service health check

security:
  - bearerAuth: []

paths:

  /health:
    get:
      tags: [Health]
      summary: Service health check
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /submissions/{holdingNumber}/{taxYear}/{quarter}/{runReference}/{submissionId}:
    post:
      tags: [Submissions]
      summary: Create a new EHECS submission
      description: |
        Submit an EHECS return for a specific quarter. Mirrors the Revenue PAYE
        Payroll Submission endpoint pattern.

        The `submissionId` should be a UUID generated by the software client,
        ensuring idempotency — re-submitting the same `submissionId` returns
        the original result without duplicate processing.
      parameters:
        - $ref: "#/components/parameters/holdingNumber"
        - $ref: "#/components/parameters/taxYear"
        - $ref: "#/components/parameters/quarter"
        - $ref: "#/components/parameters/runReference"
        - $ref: "#/components/parameters/submissionId"
        - $ref: "#/components/parameters/softwareUsed"
        - $ref: "#/components/parameters/softwareVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmissionBody"
            example:
              holdingNumber: "CSO123456"
              taxYear: 2026
              quarter: 1
              returnType: "ORIGINAL"
              contactEmail: "payroll@example.ie"
              employees:
                - ppsn: "1234567A"
                  employmentId: "EMP001"
                  occupationCode: 4
                  employmentType: "FULL_TIME"
                  grossEarnings: 15250.00
                  basicPay: 14000.00
                  overtimePay: 1250.00
                  basicHours: 520.0
                  overtimeHours: 25.0
                  employerPRSI: 1967.25
      responses:
        "201":
          description: Submission accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

    get:
      tags: [Submissions]
      summary: Check status of a specific submission
      parameters:
        - $ref: "#/components/parameters/holdingNumber"
        - $ref: "#/components/parameters/taxYear"
        - $ref: "#/components/parameters/quarter"
        - $ref: "#/components/parameters/runReference"
        - $ref: "#/components/parameters/submissionId"
        - $ref: "#/components/parameters/softwareUsed"
        - $ref: "#/components/parameters/softwareVersion"
      responses:
        "200":
          description: Submission record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDetailResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /submissions/{holdingNumber}/{taxYear}/{quarter}/{runReference}:
    get:
      tags: [Submissions]
      summary: Check status of all submissions in a run
      parameters:
        - $ref: "#/components/parameters/holdingNumber"
        - $ref: "#/components/parameters/taxYear"
        - $ref: "#/components/parameters/quarter"
        - $ref: "#/components/parameters/runReference"
        - $ref: "#/components/parameters/softwareUsed"
        - $ref: "#/components/parameters/softwareVersion"
      responses:
        "200":
          description: Run status summary
        "404":
          $ref: "#/components/responses/NotFound"

  /submissions/{holdingNumber}:
    get:
      tags: [Submissions]
      summary: List all submissions for a holding number
      parameters:
        - $ref: "#/components/parameters/holdingNumber"
        - name: taxYear
          in: query
          schema: { type: integer }
        - name: quarter
          in: query
          schema: { type: integer, minimum: 1, maximum: 4 }
      responses:
        "200":
          description: List of submissions

  /lookups/occupation-codes:
    get:
      tags: [Lookups]
      summary: Get CSO SOC-2010 occupation codes
      parameters:
        - name: search
          in: query
          schema: { type: string }
          description: Filter by label text or code number
      responses:
        "200":
          description: Occupation code list

  /lookups/periods/{holdingNumber}:
    get:
      tags: [Lookups]
      summary: Get available reporting periods for a holding number
      parameters:
        - $ref: "#/components/parameters/holdingNumber"
      responses:
        "200":
          description: Available periods

  /lookups/schema-version:
    get:
      tags: [Lookups]
      summary: Get current EHECS XML schema version
      responses:
        "200":
          description: Schema version info

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT issued to registered software providers. Must contain claims:
        `holdingNumber`, `softwareUsed`, `softwareVersion`.

  parameters:
    holdingNumber:
      name: holdingNumber
      in: path
      required: true
      schema: { type: string, pattern: "^[A-Z0-9]{6,15}$" }
      description: CSO-assigned enterprise holding number
    taxYear:
      name: taxYear
      in: path
      required: true
      schema: { type: integer, minimum: 2008 }
    quarter:
      name: quarter
      in: path
      required: true
      schema: { type: integer, minimum: 1, maximum: 4 }
    runReference:
      name: runReference
      in: path
      required: true
      schema: { type: string }
      description: Software-generated run reference (groups multiple submissions)
    submissionId:
      name: submissionId
      in: path
      required: true
      schema: { type: string, format: uuid }
      description: UUID generated by client software — used for idempotency
    softwareUsed:
      name: softwareUsed
      in: query
      required: true
      schema: { type: string }
    softwareVersion:
      name: softwareVersion
      in: query
      required: true
      schema: { type: string }

  schemas:
    Employee:
      type: object
      required: [ppsn, employmentId, occupationCode, employmentType, grossEarnings, basicPay, basicHours, employerPRSI]
      properties:
        ppsn:
          type: string
          pattern: "^[0-9]{7}[A-Z]{1,2}$"
          example: "1234567A"
        employmentId:
          type: string
          maxLength: 20
        occupationCode:
          type: integer
          minimum: 1
          maximum: 9
          description: CSO SOC-2010 broad category (1–9)
        employmentType:
          type: string
          enum: [FULL_TIME, PART_TIME, TRAINEE, APPRENTICE, OTHER]
        grossEarnings:
          type: number
          format: float
          minimum: 0
        basicPay:
          type: number
          format: float
          minimum: 0
        overtimePay:
          type: number
          format: float
          minimum: 0
          default: 0
        basicHours:
          type: number
          format: float
          minimum: 0
          maximum: 2184
        overtimeHours:
          type: number
          format: float
          minimum: 0
          default: 0
        employerPRSI:
          type: number
          format: float
          minimum: 0
        bonuses:
          type: number
          format: float
          default: 0
        allowances:
          type: number
          format: float
          default: 0

    SubmissionBody:
      type: object
      required: [holdingNumber, taxYear, quarter, employees]
      properties:
        holdingNumber: { type: string }
        taxYear: { type: integer }
        quarter: { type: integer, minimum: 1, maximum: 4 }
        returnType:
          type: string
          enum: [ORIGINAL, AMENDED]
          default: ORIGINAL
        contactEmail: { type: string, format: email }
        contactPhone: { type: string }
        comments: { type: string, maxLength: 500 }
        employees:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/Employee"

    SubmissionResponse:
      type: object
      properties:
        status: { type: integer, example: 201 }
        data:
          type: object
          properties:
            submissionId: { type: string, format: uuid }
            runReference: { type: string }
            status: { type: string, example: RECEIVED }
            receivedAt: { type: string, format: date-time }
            employeeCount: { type: integer }
            warnings:
              type: array
              items:
                $ref: "#/components/schemas/ValidationItem"

    SubmissionDetailResponse:
      type: object
      properties:
        status: { type: integer }
        data:
          allOf:
            - $ref: "#/components/schemas/SubmissionResponse/properties/data"
            - type: object
              properties:
                employees:
                  type: array
                  items:
                    $ref: "#/components/schemas/Employee"

    ValidationItem:
      type: object
      properties:
        code: { type: string }
        field: { type: string }
        message: { type: string }

    ErrorResponse:
      type: object
      properties:
        status: { type: integer }
        errors:
          type: array
          items:
            $ref: "#/components/schemas/ValidationItem"

    HealthResponse:
      type: object
      properties:
        status: { type: integer, example: 200 }
        service: { type: string }
        version: { type: string }
        timestamp: { type: string, format: date-time }
        uptime: { type: integer }

  responses:
    BadRequest:
      description: Invalid request — schema or parameter validation failure
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorised:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Forbidden:
      description: Authenticated client is not authorised for this resource
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    UnprocessableEntity:
      description: Request is valid JSON but fails business logic validation
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
